Coodinator/web/WEB-INF/wsdl/localhost_10840/Blockchain/ServiceBlockchain.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.uniminuto.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.uniminuto.com/" name="ServiceBlockchain">
<types>
<xsd:schema>
<xsd:import namespace="http://service.uniminuto.com/" schemaLocation="http://localhost:10840/Blockchain/ServiceBlockchain?xsd=1"/>
</xsd:schema>
</types>
<message name="iConsultarDir">
<part name="parameters" element="tns:iConsultarDir"/>
</message>
<message name="iConsultarDirResponse">
<part name="parameters" element="tns:iConsultarDirResponse"/>
</message>
<message name="iRegistrarData">
<part name="parameters" element="tns:iRegistrarData"/>
</message>
<message name="iRegistrarDataResponse">
<part name="parameters" element="tns:iRegistrarDataResponse"/>
</message>
<message name="iCrearBloque">
<part name="parameters" element="tns:iCrearBloque"/>
</message>
<message name="iCrearBloqueResponse">
<part name="parameters" element="tns:iCrearBloqueResponse"/>
</message>
<portType name="ServiceBlockchain">
<operation name="iConsultarDir">
<input wsam:Action="http://service.uniminuto.com/ServiceBlockchain/iConsultarDirRequest" message="tns:iConsultarDir"/>
<output wsam:Action="http://service.uniminuto.com/ServiceBlockchain/iConsultarDirResponse" message="tns:iConsultarDirResponse"/>
</operation>
<operation name="iRegistrarData">
<input wsam:Action="http://service.uniminuto.com/ServiceBlockchain/iRegistrarDataRequest" message="tns:iRegistrarData"/>
<output wsam:Action="http://service.uniminuto.com/ServiceBlockchain/iRegistrarDataResponse" message="tns:iRegistrarDataResponse"/>
</operation>
<operation name="iCrearBloque">
<input wsam:Action="http://service.uniminuto.com/ServiceBlockchain/iCrearBloqueRequest" message="tns:iCrearBloque"/>
<output wsam:Action="http://service.uniminuto.com/ServiceBlockchain/iCrearBloqueResponse" message="tns:iCrearBloqueResponse"/>
</operation>
</portType>
<binding name="ServiceBlockchainPortBinding" type="tns:ServiceBlockchain">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="iConsultarDir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="iRegistrarData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="iCrearBloque">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServiceBlockchain">
<port name="ServiceBlockchainPort" binding="tns:ServiceBlockchainPortBinding">
<soap:address location="http://localhost:10840/Blockchain/ServiceBlockchain"/>
</port>
</service>
</definitions>