Coodinator/src/conf/xml-resources/web-service-references/ServiceRegister/wsdl/localhost_10840/Register/ServiceRegister.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.uniminuto.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.uniminuto.com/">

<xs:element name="iRegistrarTransaccion" type="tns:iRegistrarTransaccion"/>

<xs:element name="iRegistrarTransaccionResponse" type="tns:iRegistrarTransaccionResponse"/>

<xs:complexType name="iRegistrarTransaccion">
<xs:sequence>
<xs:element name="emisor" type="xs:string" minOccurs="0"/>
<xs:element name="receptor" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:int"/>
<xs:element name="fecha" type="xs:anySimpleType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="iRegistrarTransaccionResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>